# Ignore bundler config.
server/.bundle

# Ignore bundler gems.
server/vendor/bundle

# Ignore the default SQLite database.
server/db/*.sqlite3
server/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
server/log/*.log
server/tmp

# Ignore other unneeded files.
server/doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
